@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
body{
    background-color: #20232F;
    color: #e7e0d7;
    font-family: 'Raleway', sans-serif;
}
.sidebar2__container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: -1px -1px 3px hsla(0,0%,100%,.1), 1px 1px 3px rgba(0,0,0,.8);
}
.sidebar2__button_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar2__button i{
    font-size: 30px;
    padding: 12px;
    margin: 10px;
    border-radius: 50%;
    background: #20232F;
    box-shadow: -1px -1px 3px hsla(0,0%,100%,.1), 1px 1px 3px rgba(0,0,0,.8);
}
/* .sidebar2__button:hover */
.sidebar2__button i:hover{
    /* color: rgb(154, 218, 235); */
    background-color: wheat;
}
.sidebar2__button_active{
    background-color: wheat !important;
}
.sidebar2__info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidebar2__info img{
    height: 15vw;
    padding-bottom: 10px;
}
.fa-home{
    color: olive;
}
.fa-address-card-o{
    color: hotpink;
}
.fa-database{
    color: yellowgreen;
}

.mainContent__header{
    box-shadow: -1px -1px 3px hsla(0,0%,100%,.1), 1px 1px 3px rgba(0,0,0,.8);
    clip-path: inset(-5px 0px -5px 0px);
    justify-content: space-between;
}
.mainContent__body{
    display: flex;
}
.contetHeader_hed_title{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.mainContent__body_title{
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}
.mainContent__button_wrapper{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}
.mainContent__button i{
    font-size: 30px;
    border-radius: 50%;
    background: #20232F;
    box-shadow: -1px -1px 3px hsla(0,0%,100%,.1), 1px 1px 3px rgba(0,0,0,.8);
    padding: 12px;
    margin: 0 10px;
}
.mainContent__button i:hover{
    background-color: rgb(197, 112, 97);
}
.fa-linkedin{
    color: #0e76a8 ;
}
.fa-facebook{
    color: #3b5998 ;
}
.fa-github{
    color: white;
}
.fa-at{
    color: rgb(0, 255, 136);
}
.mainComp__about{
    padding: 13px 15px;
    margin: 5px;
    text-align: justify;
    background-color: #20232F;
    border-radius: 14px;
    box-shadow: -1px -1px 3px hsla(0,0%,100%,.1), 1px 1px 3px rgba(0,0,0,.8);
    font-size: 1.2rem;
}

.mainComp__offer_itemwrapper{
    border-radius: 14px;
    background: #20232F;
    box-shadow: -1px -1px 3px hsla(0,0%,100%,.1), 1px 1px 3px rgba(0,0,0,.8);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}
.offer_item__img img{
    height: 5vw;
    padding: 0 12px;
}
.offer_item__data{
    display: flex;
    flex-direction: column;
}
.offer_item__data_title{
    font-size: 20px;
    font-weight: bold;
    color: green;
}
.offer_item__data_about{
    text-align: justify;

} 
.mainComp__offer{
    padding: 0px 0px 12px 12px;
    font-size: 30px;
}
.mainComp__offer__full_wrapper{
    height: 57vh;
    overflow-y: scroll;
    padding: 10px;
}

p {
    margin-top: 0 !important; 
    margin: 0px !important;
}

.resume__content__header{
    padding: 10px;
    height: 85vh;
    overflow-y: scroll;
}
.resume__content__title{
    padding: 20px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 14px;
    box-shadow: -1px -1px 3px hsla(0,0%,100%,.1), 1px 1px 3px rgba(0,0,0,.8);
    color: chartreuse;
}
.resume__content__data{
    padding: 10px;
    margin: 10px 0;
    border-radius: 14px;
    background: #20232F;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -2px 15px -1px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -2px 15px -1px rgba(0,0,0,0);
}

.project__body_title{
    padding: 12px;
    font-size: 42px;
    margin: 0px;
    font-family: 'Raleway', sans-serif !important;
}
.project_item_active{
    color: green !important;
    font-weight: bold;
}
.nav-item{
    background-color: #20232F;
    border-radius: 14px;
    box-shadow: -1px -1px 3px hsla(0,0%,100%,.1), 1px 1px 3px rgba(0,0,0,.8);
    margin: 0 10px;
}
.nav-item:hover{
    color: green !important;
    cursor: pointer;
}


.project_all_data_wrapper{
    height: 83vh;
    padding: 10px;
    overflow-y: scroll;
}
.project__single__item{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background: #20232F;
    box-shadow: -1px -1px 3px hsla(0,0%,100%,.1), 1px 1px 3px rgba(0,0,0,.8);

}
.project__single__item__img img{
    width: 100%;
    border-radius: 25px;
    height: 200px;
    object-fit: cover;
}
.project__single__item__data{
    display: flex;
    flex-direction: row;
    padding: 5px 6px;
}
.project__single__item__data__img img{
    height:  40px;
    border-radius: 50%;
    background-color: white;
}
.project__single__item__data__title{
    font-size: 22px;
    padding: 0 10px ;
}
.contetHeader_hed_title_wrap{
    display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
}



@media screen and (max-width: 768px) {
    .sidebar2__button_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .sidebar2__info img{
        height: 25vw;
        border-radius: 50%;
        padding-bottom: 10px;
    }
    .sidebar2__container{
        height: auto;
    }
    .contetHeader_hed_title{
        font-size: 20px;
    }
    .mainContent__body_title{
        font-size: 20px;
    }
    .nav-item{
        margin:10px 0;
        padding: 10px !important;
    }
  }

  
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }